<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="crossTest" type="CrossBreeze.CrossTest.SpecFlow.Configuration.CrossTestConfig, CrossBreeze.CrossTest.SpecFlow" />
    
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <specFlow>
    <!-- <language feature="nl" /> -->
    <unitTestProvider name="mstest.v2" />
    <stepAssemblies>
      <stepAssembly assembly="CrossBreeze.CrossTest.SpecFlow" />
    </stepAssemblies>

    
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --></specFlow>

  <!-- The CrossTest configuration -->
  <crossTest>
    <!-- Test configuration. -->
    <test>
      <namingConvention>
        <tableHeader parameterName="Parameter" parameterValue="Value" />
      </namingConvention>
    </test>

    <!-- Database configuration. -->
    <database>

      <!-- The database servers which are used, the connectionStringName points to the name of the connectionStrings element defined in this app config. -->
      <servers>
        <server name="ExampleMsSqlServer" connectionName="ExampleMsSqlConnection" type="MsSql" />
        <server name="ExampleMsSsasServer" connectionName="ExampleMsSsasConnection" type="MsSsas" />
      </servers>

      <!-- The table types which can be used while filling tables. -->
      <tableTemplates>
        <tableTemplate name="staging">
          <columns>
            <column name="StageDateTime" value="2000-01-01 00:00:00.00" />
          </columns>
        </tableTemplate>
        <tableTemplate name="dwh">
          <columns>
            <column name="RecordLoadProcess" value="1" />
            <column name="RecordLoadDateTime" value="2000-01-01 00:00:00.00" />
          </columns>
        </tableTemplate>
        <tableTemplate name="datavault" parentTemplate="dwh" />
        <tableTemplate name="sourcelink" parentTemplate="datavault" />
        <tableTemplate name="hub" parentTemplate="datavault" />
        <tableTemplate name="link" parentTemplate="datavault" />
        <tableTemplate name="satelliet" parentTemplate="datavault">
          <columns>
            <column name="RecordHash" value="0x00000000000000000000000000000000" />
            <column name="RecordEndDateTime" value="9999-12-31 00:00:00.00" />
          </columns>
        </tableTemplate>
        <tableTemplate name="dm" parentTemplate="dwh" />
        <tableTemplate name="dimension" parentTemplate="dm" />
        <tableTemplate name="fact" parentTemplate="dm" />
      </tableTemplates>

      <!-- Database naming conventions. -->
      <namingConvention functionPrefix="udf_" businessRuleSchema="BusinessRule" />

    </database>

    <!-- Process configuration. -->
    <process>

      <!-- The SSIS process configuration. -->
      <ssis>

        <!-- The SSIS process types are: IsPacProjectProcess, DBProjectProcess, FileProcess -->
        <projects>

          <!-- Example SSIS ISPac project. -->
          <project name="ExampleSsisISPacProject" processType="ISPac" isPacFileLocation="ExampleSsis.ispac">
            <!-- The project connections can be configured here. -->
            <connections>
              <!-- The connectionStringName points to the name of the connectionStrings element defined in this app config. -->
              <connection name="ExamplePackageConnectioName" connectionName="ExampleConfigConnectionName" />
            </connections>
          </project>

          <!-- Example SSIS ISServer project. -->
          <project name="ExampleSssisISServerProject" processType="ISServer" ssisConnectionName="ExampleMsSqlConnection" ssisFolder="ExampleSsisFolder" ssisProject="ExampleSsisProject" ssisEnvironmentFolder="." ssisEnvironmentName="ExampleSsisEnvironment" />

        </projects>

      </ssis>

      <!-- Process templates, used during execution of processes. -->
      <processTemplates>
        <!-- Example dwh process template. If the keyword 'dwh' is prefixed in a process execution, the specified parameters are populated by default. -->
        <processTemplate name="dwh">
          <parameters>
            <parameter name="ParentProcessID" value="1" />
            <parameter name="ProcessDateTime" value="2000-01-01 00:00:00.00" />
          </parameters>
        </processTemplate>
        <!-- Example datavault process, which inherits the parameter from the dwh process template. -->
        <processTemplate name="datavault" parentTemplate="dwh" />
      </processTemplates>
    </process>

  </crossTest>

  <!-- The connection strings. -->
  <connectionStrings>
    <!-- Define the database servers to use. The name is the name of the server and the connection string should be without a database. -->
    <add name="ExampleMsSqlConnection" connectionString="Data Source=localhost\LocalDev2017;Integrated Security=SSPI;" />
    <add name="ExampleMsSsasConnection" connectionString="Data Source=localhost\LocalDev2017;" />
    <add name="ExampleConfigConnectionName" connectionString="Data Source=localhost\LocalDev2017;Initial Catalog=ExampleDatabase;Provider=SQLNCLI11.1;Integrated Security=SSPI;" />
  </connectionStrings>


  <!--
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AnalysisServices.AdomdClient" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.2.0" newVersion="15.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime> 
  -->
</configuration>