<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="crossTest" type="CrossBreeze.CrossTest.SpecFlow.Configuration.CrossTestConfig, CrossBreeze.CrossTest.SpecFlow" />
  </configSections>
  <!-- The SpecFlow configuration. -->
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- Set the language of your specflow files (see https://docs.cucumber.io/gherkin/reference/#overview). -->
    <language feature="en" />
    <!-- Set the unit test provider, the CrossTest default is 'mstest.v2' (see https://github.com/techtalk/SpecFlow/wiki/Configuration#unittestprovider). -->
    <unitTestProvider name="mstest.v2" />
    <stepAssemblies>
      <stepAssembly assembly="CrossBreeze.CrossTest.SpecFlow" />
    </stepAssemblies>
  </specFlow>
  <!-- The CrossTest configuration -->
  <crossTest>

    <!-- Test configuration. -->
    <test>

      <!-- The naming conventions. -->
      <namingConvention>
        <tableHeader parameterName="Parameter" parameterValue="Value" />
      </namingConvention>

      <!-- The object templates which can be used for databases objects and processes. -->
      <objectTemplates>
        
        
        <!-- The table types which can be used while filling tables. The attributes defined here will be used as columns for the table. -->
        <objectTemplate name="staging_default">
          <attributes>
            <attribute name="StageDateTime" value="2000-01-01 00:00:00.00" />
          </attributes>
        </objectTemplate>

        <objectTemplate name="staging" prefix="[Staging].[" suffix="]" parentTemplate="staging_default" />
        <objectTemplate name="staging_load" parentTemplate="staging_default"/>
        

        <!-- DWH storage object types. -->
        <objectTemplate name="DWH" prefix="[DWH].[" suffix="]">
          <attributes>
            <attribute name="BatchID" value="1" />
          </attributes>
        </objectTemplate>

        <objectTemplate name="DWH_load" parentTemplate="DWH" appendPrefix="usp_" />


      </objectTemplates>

    </test>

    <!-- Database configuration. -->
    <database>

      <!-- The database servers which are used, the connectionStringName points to the name of the connectionStrings element defined in this app config. -->
      <servers>
        <server name="LocalServer" connectionName="LocalServer" type="MsSql" />
      </servers>

    </database>

    <!-- Process configuration. -->
    <process>

      <!-- The SSIS process types are: IsPacProjectProcess, DBProjectProcess, FileProcess -->
      <projects>
        <!-- Example SSIS ISPac project. -->
        <project name="Staging" processType="ISPac" isPacFileLocation=".\XTest_Example_Solution\XTest_Example_SSIS\bin\Development\XTest_Example_SSIS.ispac">
          <!-- The project connections can be configured here. -->
          <connections>
            <!-- The connectionStringName points to the name of the connectionStrings element defined in this app config. -->
            <connection name="XTest_Example_DB" connectionName="XTest_Example_DB" />
          </connections>
        </project>
      </projects>

    </process>

  </crossTest>
  <!-- The connection strings. -->
  <connectionStrings>
    <!-- Define the database servers (and optionally database names) to use. -->
    <add name="LocalServer" connectionString="Data Source=localhost\LocalDev2017;Integrated Security=SSPI;" />
    <add name="XTest_Example_DB" connectionString="Data Source=localhost\LocalDev2017;Initial Catalog=XTest_Example_DB;Provider=SQLNCLI11.1;Integrated Security=SSPI;" />
  </connectionStrings>
</configuration>

