<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
		<section name="crossTest" type="CrossBreeze.CrossTest.SpecFlow.Configuration.CrossTestConfig, CrossBreeze.CrossTest.SpecFlow.Core"/>
		<section name="crossTestSsis" type="CrossBreeze.CrossTest.Process.Ssis.Configuration.SsisProcessesConfig, CrossBreeze.CrossTest.Process.Ssis"/>
		<section name="crossTestAdf" type="CrossBreeze.CrossTest.Process.Adf.Configuration.AdfProcessesConfig, CrossBreeze.CrossTest.Process.Adf"/>
	</configSections>

	<!-- The SpecFlow configuration. -->
	<specFlow>
		<!--<language feature="nl" />
    <bindingCulture name="nl" /> -->
		<unitTestProvider name="mstest.v2"/>
		<stepAssemblies>
			<stepAssembly assembly="CrossBreeze.CrossTest.Specflow"/>
		</stepAssemblies>

		<!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
	</specFlow>

	<!-- The CrossTest configuration -->
	<crossTest>

		<!-- Test configuration. -->
		<test>
			<namingConvention>
				<tableHeader parameterName="Parameter" parameterValue="Value"/>
			</namingConvention>

			<objectTemplates>
				<!-- The common types which can be used as a parent for table, function and procedure types. -->
				<objectTemplate name="sys" prefix="[sys].[" suffix="]"/>
				<objectTemplate name="sys2" prefix="[sys].[" suffix="]">
					<attributes>
						<attribute name="file_or_directory" value="C:\\Not_a_real_file"/>
					</attributes>
				</objectTemplate>

				<!-- The table types which can be used while filling tables. The attributes defined here will be used as columns for the table. -->
				<objectTemplate name="staging" prefix="[Staging].[" suffix="]"/>
				<objectTemplate name="staging-storage" parentTemplate="staging">
					<attributes>
						<attribute name="StageDateTime" value="2000-01-01 00:00:00.00"/>
					</attributes>
				</objectTemplate>
				<objectTemplate name="staging-hist-storage" parentTemplate="staging-storage" appendPrefix="HIST_">
					<attributes>
						<attribute name="RecordHash" value="0x00000000000000000000000000000000"/>
						<attribute name="RecordEndDateTime" value="9999-12-31 00:00:00.00"/>
					</attributes>
				</objectTemplate>
				<!-- The following objectTemplate can, for example, be applied on a T-SQL procedure or a SSIS process. -->
				<objectTemplate name="load-staging" parentTemplate="staging" appendPrefix="Load_">
					<attributes>
						<attribute name="ParentProcessID" value="1"/>
						<attribute name="ProcessDateTime" value="2000-01-01 00:00:00.00"/>
					</attributes>
				</objectTemplate>

				<!-- DataVault storage object types. -->
				<objectTemplate name="datavault" prefix="[DataVault].[" suffix="]"/>
				<objectTemplate name="datavault-storage" parentTemplate="datavault">
					<attributes>
						<attribute name="RecordLoadProcessID" value="1"/>
						<attribute name="RecordLoadDateTime" value="2000-01-01 00:00:00.00"/>
					</attributes>
				</objectTemplate>
				<objectTemplate name="sourcelink" parentTemplate="datavault-storage" appendPrefix="SL_"/>
				<objectTemplate name="hub" parentTemplate="datavault-storage" appendPrefix="H_"/>
				<objectTemplate name="link" parentTemplate="datavault-storage" appendPrefix="L_"/>
				<objectTemplate name="satellite" parentTemplate="datavault-storage" appendPrefix="S_">
					<attributes>
						<attribute name="RecordHash" value="0x00000000000000000000000000000000"/>
						<attribute name="RecordEndDateTime" value="9999-12-31 00:00:00.00"/>
					</attributes>
				</objectTemplate>
				<!-- The following objectTemplate can, for example, be applied on a T-SQL procedure or a SSIS process. -->
				<objectTemplate name="dwh" parentTemplate="datavault" appendPrefix="Load_">
					<attributes>
						<attribute name="ParentProcessID" value="1"/>
						<attribute name="ProcessDateTime" value="2000-01-01 00:00:00.00"/>
					</attributes>
				</objectTemplate>

				<!-- The following objectTemplate can, for example, be applied on a T-SQL procedure or a SSIS process. -->
				<objectTemplate name="adfTemplate" parentTemplate="datavault" appendPrefix="Load_">
					<attributes>
						<attribute name="baseUrl" value="https://x-test.nl/"/>
					</attributes>
				</objectTemplate>

				<!-- DataMart storage object types. -->
				<objectTemplate name="datamart" prefix="[DataMart].[" suffix="]">
					<attributes>
						<attribute name="RecordHash" value="0x00000000000000000000000000000000"/>
						<attribute name="RecordEndDateTime" value="9999-12-31 00:00:00.00"/>
					</attributes>
				</objectTemplate>
				<objectTemplate name="dimension" parentTemplate="datamart"/>
				<objectTemplate name="fact" parentTemplate="datamart"/>

				<!-- The function types which can be used while calling functions. -->
				<objectTemplate name="business-rule" prefix="[BusinessRule].[udf_" suffix="]"/>
				<objectTemplate name="derive" parentTemplate="business-rule" appendPrefix="Derive_"/>
				<objectTemplate name="calculate" parentTemplate="business-rule" appendPrefix="Calculate_"/>

			</objectTemplates>
		</test>

		<!-- Database configuration. -->
		<database>

			<!-- The database servers which are used, the connectionStringName points to the name of the connectionStrings element defined in this app config. -->
			<servers>
				<server name="ExampleMsSqlServer" connectionName="ExampleMsSqlConnection" type="MsSql" commandTimeout="10"/>
				<server name="ExampleMsSsasServer" connectionName="ExampleMsSsasConnection" type="MsSsas"/>
			</servers>

		</database>

		<!-- Process configuration. -->
		<!--<processes>
		<process name="ExampleSsisISPacProject" type="SSIS" processName="ExampleSsisISPacProject" />
		<process name="ExampleAdfProject" type="ADF" processName="ExampleAdfProject" />
    </processes>-->

	</crossTest>

	<crossTestSsis>
		<SsisProcesses>
			<!-- The SSIS process types are: IsPacProjectProcess, DBProjectProcess, FileProcess -->
			<!-- Example SSIS ISPac project. -->
			<SsisProcess name="ExampleSsisISPacProject" processType="ISPac" isPacFileLocation=".\Examples\CrossBreeze_CrossTest_ExampleTests\ProcessSteps\SupportFiles\ExampleSSISProject\bin\Development\ExampleSSISProject.ispac"/>
		</SsisProcesses>
	</crossTestSsis>

	<crossTestAdf>
		<AdfProcesses>
			<AdfProcess name="ExampleAdfPipeline" processType="AdfPipeline" tenantID="8ccf7167-19f0-4c07-918e-160fbb607c93" subscriptionId="b91a490b-693f-4d52-bcf9-ea0d26553db2" applicationId="3d82885e-d652-488c-9c34-646c6b3ad979" clientSecret="ojG8Q~AVBdKRnTRBVVMNqjXVJxU7ZmCzjAqWodxF" resourceGroupName="CrossBreeze_CrossTest" dataFactoryName="XB-ADF-CrossTest"/>
		</AdfProcesses>
	</crossTestAdf>

	<!--<AdfProcesses>
	  <AdfProcess name="ExampleAdfProject">
		  <ApplicationId></ApplicationId>
		  <clientSecret></clientSecret>
	  </AdfProcess>
  </AdfProcesses>-->

	<!-- The connection strings. -->
	<connectionStrings>
		<!-- Define the database servers to use. The name is the name of the server and the connection string should be without a database. -->
		<add name="ExampleMsSqlConnection" connectionString="Data Source=localhost;User Id=sa;Password=Cr0sZ!Br33Ze;" />
		<add name="ExampleMsSsasConnection" connectionString="Data Source=localhost\LocalDev2017;"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
	</startup>
</configuration>
